@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
* {
  text-decoration: none;
}
body {
  background-color: #f7efeb;
}
header {
  display: none;
}
.maxmara-brand {
  margin: 1rem;
}
.maxmara-brand img {
  max-width: 100%;
}
/*Her starter styling til mobile*/
/* Grid containter https://css-tricks.com/snippets/css/complete-guide-grid/
Har benyttet mig af deres guide til columns, rows og areas*/

/*Her opsættes grid layout til mobile*/
.maxmara-container {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  grid-template-areas:
    "product-a product-b"
    "product-c product-d"
    "product-e product-f"
    "product-g product-h"
    "product-i product-j";
}
/* Her styles hvert produkt til mobile*/
.product-a {
  grid-area: product-a;
}
/* Produkterne skrives igen, men med img efter, så billedet kan styles*/
.product-a img {
  max-width: 100%;
}
.product-b {
  grid-area: product-b;
}
.product-b img {
  max-width: 100%;
}
.product-c {
  grid-area: product-c;
}
.product-c img {
  max-width: 100%;
}
.product-d {
  grid-area: product-d;
}
.product-d img {
  max-width: 100%;
}
.product-e {
  grid-area: product-e;
}
.product-e img {
  max-width: 100%;
}
.product-f {
  grid-area: product-f;
}
.product-f img {
  max-width: 100%;
}
.product-g {
  grid-area: product-g;
}
.product-g img {
  max-width: 100%;
}
.product-h {
  grid-area: product-h;
}
.product-h img {
  max-width: 100%;
}
.product-i {
  grid-area: product-i;
}
.product-i img {
  max-width: 100%;
}
.product-j {
  grid-area: product-j;
}
.product-j img {
  max-width: 100%;
}
/*Styling af nyhedsbrev mobile*/
Heading3 {
  margin-top: 5%;
  font-family: "tinos", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* Styling af knap */

input[type="tilmeld"] {
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px #b7b4bd;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-align: center;
}

/* Styling af tekstfelt */

input[type="mail"],
#email {
  width: 50%;
  padding: 12px;
  border: 2px solid #d4d0db;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 8px 15px #b7b4bd;
  margin-left: 94px;
}

input[type="tilmeld"]:hover {
  transform: translateY(-7px);
}

/* Styling af container til nyhedsbrev*/

.news-container {
  flex-direction: row;
  background: #d4d0db;
  color: black;
  font-family: "Roboto", sans-serif;
  border: 1px solid black;
  padding: 0 0 30px;
}
/* Styling af tekst i container */

.p5 {
  letter-spacing: 1.5px;
  font-family: "Roboto", sans-serif;
}
/*Her styles footeren til mobile*/
footer {
  margin: 5px 5px 10px 5px;
  background-color: #f7efeb;
}
p {
  text-align: left;
  font-family: "roboto", sans-serif;
  margin-left: 20%;
}
/*Her styles footer til mobile*/
.columnfooter {
  margin-top: 5%;
  width: 100%;
}
.rowfooter {
  display: flex;
  flex-direction: column;
}
.columnfooter h2 {
  text-align: left;
  font-family: "tinos", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2% 0 5% 20%;
}

a {
  text-decoration: none;
  color: black;
  line-height: 2.5;
  margin-left: 19%;
  font-family: "roboto", sans-serif;
}
/* Her styles der til desktop */
@media screen and (min-width: 667px) {
  /*STYLING AF HEADER ELEMENTER*/
  header {
    margin-top: 1.5%;
    text-transform: uppercase;
    display: inline;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    color: black;
  }

  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: white;
  }

  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  .menu {
    display: none;
  }

  .headerikon {
    margin: 0 0 0 0;
  }

  header img {
    display: inline;
    width: 3%;
  }

  .ikon {
    margin-left: 17%;
    position: absolute;
  }

  .headertekst {
    text-align: center;
    margin: 0;
    font-size: 2.2em;
    letter-spacing: 2px;
    font-family: "Tinos", serif;
  }

  .headerundertekst {
    text-align: center;
    margin: 0 0 1% 0;
    letter-spacing: 2.5px;
    font-family: "Tinos", serif;
    text-transform: uppercase;
  }

  .headerlink {
    margin: 5% 7% 4% 7%;
    font-family: "Tinos", serif;
    letter-spacing: 2px;
  }

  hr {
    width: 65%;
    height: 2px;
    background: black;
  }

  nav {
    text-align: center;
    margin-bottom: 0.8%;
  }

  header a {
    text-decoration: none;
    color: black;
  }

  h2.menu {
    font-size: 1.1em;
  }
  .maxmara-brand {
    margin: 1rem;
  }
  .maxmara-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "product-a product-b product-c product-d product-e"
      "product-f product-g product-h product-i product-j";
  }
  /*Her styles hvert produkt til desktop*/
  .product-a {
    grid-area: product-a;
  }
  .product-b {
    grid-area: product-b;
  }
  .product-c {
    grid-area: product-c;
  }
  .product-d {
    grid-area: product-d;
  }
  .product-e {
    grid-area: product-e;
  }
  .product-f {
    grid-area: product-f;
  }
  .product-g {
    grid-area: product-g;
  }
  .product-h {
    grid-area: product-h;
  }
  .product-i {
    grid-area: product-i;
  }
  .product-j {
    grid-area: product-j;
  }
  /*Nyhedsbrev til desktop styles her*/
  .news-container {
    display: flex;
    padding: 0 0 30px 30px;
  }
  input[type="tilmeld"] {
    margin-left: -17%;
  }
  /* Indholdet flexer, så de står ved siden af hinanden */
  input[type="mail"],
  #email {
    margin-top: 7.5%;
    margin-right: 20%;
  }
  .indhold {
    flex: 33.33%;
  }
  /*Her styles footer til desktop*/
  footer {
    margin: 5px 5px 10px 5px;
    background-color: #f7efeb;
  }
  footer img {
    vertical-align: middle;
  }

  p {
    text-align: left;
    font-family: "roboto", sans-serif;
    margin-left: 20%;
  }

  .rowfooter {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .columnfooter {
    flex: 33.33%;
  }

  .columnfooter h2 {
    text-align: left;
    font-family: "tinos", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2% 0 5% 20%;
  }

  a {
    text-decoration: none;
    color: black;
    line-height: 2.5;
    margin-left: 19%;
    font-family: "roboto", sans-serif;
  }
}
