@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

* {
  padding: 0;
}

body {
  margin: 0;  
}

/* Herfra startes stylingen af MOBILE-FIRST*/
.brands img{
  max-width: 80%;
  margin-bottom: 3rem;

/* Nedestående (linje 16-18) er styling af brands, som gør at billederne placeres i midten af siden.
Kilden er fundet fra W3's hjemmeside (https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_center) */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Herfra startes stylingen af galleri-grid.
Informationerne er taget med inspiration fra nedenstående link.
https://css-tricks.com/snippets/css/complete-guide-grid/*/
.gallery {
  margin: 1rem;   /* Margin definerer afstanden rundt om hele galleriet*/
  display: grid;  
  grid-template-columns: 1fr 1fr;  /* "1fr" fortæller hvor mange kolonner der skal være */
  grid-template-rows: auto;
  grid-gap: 0.5rem;  /* Afstanden mellem kolonnerne */
  grid-template-areas:   /* Her placerer man de forskllige classes ift. gridet - hvilke der skal stå hvor osv. */
    "product1 product2",
    "product3 product4",
    "product5 product6",
    "product7 product8",
    "product9 product10",
    "product11 product12";
}

/* Her under starter stylingen af de forskellige classes på galleriet
Hver class er blevet stylet for sig, mens deres indeholdte billede er stylet hver for sig 
Deruover er der også blevet tilføjet billedtekst*/
.product1 {
  grid-area: "product1";
  margin-bottom: 2rem;
}
.product1 img {
  max-width: 100%;
}
.product1 h2 {
  margin-top: 0.2rem;
  color: #d9b0a7;
  font-size: 20px;
}
.product1 h3 {
  color: rgb(75, 75, 75);
  font-size: 14px;
  font-weight: 100;
  text-align: left;
}

.product2 {
  grid-area: "product2";
  margin-bottom: 2rem;
}
.product2 img {
  max-width: 100%;
}
.product2 h2 {
  margin-top: 0.2rem;
  color: #d9b0a7;
  font-size: 20px;
}
.product2 h3 {
  color: rgb(75, 75, 75);
  font-size: 14px;
  font-weight: 100;
  text-align: left;
}

.product3 {
  grid-area: "product3";
  margin-bottom: 2rem;
}
.product3 img {
  max-width: 100%;
}
.product3 h2 {
  margin-top: 0.2rem;
  color: #d9b0a7;
  font-size: 20px;
}
.product3 h3 {
  color: rgb(75, 75, 75);
  font-size: 14px;
  font-weight: 100;
  text-align: left;
}

.product4 {
  grid-area: "product4";
  margin-bottom: 2rem;
}
.product4 img {
  max-width: 100%;
}
.product4 h2 {
  margin-top: 0.2rem;
  color: #d9b0a7;
  font-size: 20px;
}
.product4 h3 {
  color: rgb(75, 75, 75);
  font-size: 14px;
  font-weight: 100;
  text-align: left;
}

.product5 {
  grid-area: "product5";
  margin-bottom: 2rem;
}
.product5 img {
  max-width: 100%;
}
.product5 h2 {
  margin-top: 0.2rem;
  color: #d9b0a7;
  font-size: 20px;
}
.product5 h3 {
  color: rgb(75, 75, 75);
  font-size: 14px;
  font-weight: 100;
  text-align: left;
}

.product6 {
  grid-area: "product6";
  margin-bottom: 2rem;
}
.product6 img {
  max-width: 100%;
}
.product6 h2 {
  margin-top: 0.2rem;
  color: #d9b0a7;
  font-size: 20px;
}
.product6 h3 {
  color: rgb(75, 75, 75);
  font-size: 14px;
  font-weight: 100;
  text-align: left;
}

.product7 {
  grid-area: "product7";
  margin-bottom: 2rem;
}
.product7 img {
  max-width: 100%;
}
.product7 h2 {
  margin-top: 0.2rem;
  color: #d9b0a7;
  font-size: 20px;
}
.product7 h3 {
  color: rgb(75, 75, 75);
  font-size: 14px;
  font-weight: 100;
  text-align: left;
}

.product8 {
  grid-area: "product8";
  margin-bottom: 2rem;
}
.product8 img {
  max-width: 100%;
}
.product8 h2 {
  margin-top: 0.2rem;
  color: #d9b0a7;
  font-size: 20px;
}
.product8 h3 {
  color: rgb(75, 75, 75);
  font-size: 14px;
  font-weight: 100;
  text-align: left;
}

.product9 {
  grid-area: "product9";
  margin-bottom: 2rem;
}
.product9 img {
  max-width: 100%;
}
.product9 h2 {
  margin-top: 0.2rem;
  color: #d9b0a7;
  font-size: 20px;
}
.product9 h3 {
  color: rgb(75, 75, 75);
  font-size: 14px;
  font-weight: 100;
  text-align: left;
}

.product10 {
  grid-area: "product10";
  margin-bottom: 2rem;
}
.product10 img {
  max-width: 100%;
}
.product10 h2 {
  margin-top: 0.2rem;
  color: #d9b0a7;
  font-size: 20px;
}
.product10 h3 {
  color: rgb(75, 75, 75);
  font-size: 14px;
  font-weight: 100;
  text-align: left;
}

.product11 {
  grid-area: "product11";
  margin-bottom: 2rem;
}
.product11 img {
  max-width: 100%;
}
.product11 h2 {
  margin-top: 0.2rem;
  color: #d9b0a7;
  font-size: 20px;
}
.product11 h3 {
  color: rgb(75, 75, 75);
  font-size: 14px;
  font-weight: 100;
  text-align: left;
}

/* Her stylinges Nyhedsbrev-containeren */
.news-container{
  display: flex;
  padding: 0 0 30px 30px;
  left: 0;
  right: 0;
  background: #D4d0db;
  color: black;
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
}

input[type=tilmeld] {
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px #b7b4bd;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-align: center;
  margin-left: -17%;
  margin-top: 9.5%;
}

/* Styling af tekstfelt */ 
input[type=mail], #email {
  width: 50%;
  padding: 12px;
  border: 2px solid #D4d0db;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; 
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 8px 15px #b7b4bd;
  margin-top: 7.5%; 
  margin-right: 20%;
}

input[type=tilmeld]:hover {
  background-color: none;
  transform: translateY(-7px);
}


/* Her starter stylingen af footeren */
footer {
  font-family: 'Roboto',sans-serif;
  background: #f4efeb;
}

footer img {
  vertical-align: middle;
}

p {
  font-family: 'Roboto',sans-serif;
  text-align: left;
  margin-left: 20%;
}

.rowfooter {
  display: flex;
  width: 100%;
}

.columnfooter {
  flex: 33.33%;
}

.Heading {
  text-align: left;
  letter-spacing: 2px;
  margin: 5% 0 5% 20%;
  font-family: 'Tinos', serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
  line-height: 2.5;
  margin-left: 19%;
}


/* Herfra startes stylingen af DESKTOP*/

@media screen and (min-width: 667px) {
  .brands {
    max-width: 80%;
    margin-bottom: 3rem; 
  
    /* Sammenlignet med mobil-versionen, skal brandsene gå fra at stå under hinanden, til ved siden af hinanden
    Derfor er der i Media Queries blevet placeret endnu et grid, men til brandsene*/
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: auto;
    grid-gap: 8%;  
    grid-template-areas:   
      "persona maxmara piupiu";
  }

  .persona {
    grid-area: "persona";
  }
  .persona img {
    max-width: 100%;
  }
  
  .maxmara {
    grid-area: "maxmara";
  }
  .maxmara img {
    max-width: 100%;
  }
  
  .piupiu {
    grid-area: "piupiu";
  }
  .piupiu img {
    max-width: 100%;
  }

  /* Her starter galleri-stylingen endnu engang, men forbedret til desktop*/
  .gallery {
    margin: 1rem;  
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  /* I stedet for 3 kolonner, er der nu 5 kolonner*/
    grid-template-rows: auto;
    grid-gap: 0.5rem;  
    grid-template-areas:   
      "product1 product2 product3 product4 product5",
      "product6 product7 product8 product9 product10",
      "product11 product12";
  }

  .product1 {
    grid-area: "product1";
    margin-bottom: 2rem;
  }
  .product1 img {
    max-width: 100%;
  }
  .product1 h2 {
    margin-top: 0.2rem;
    color: #d9b0a7;
    font-size: 20px;
  }
  .product1 h3 {
    color: rgb(75, 75, 75);
    font-size: 14px;
    font-weight: 100;
    text-align: left;
  }
  
  .product2 {
    grid-area: "product2";
    margin-bottom: 2rem;
  }
  .product2 img {
    max-width: 100%;
  }
  .product2 h2 {
    margin-top: 0.2rem;
    color: #d9b0a7;
    font-size: 20px;
  }
  .product2 h3 {
    color: rgb(75, 75, 75);
    font-size: 14px;
    font-weight: 100;
    text-align: left;
  }
  
  .product3 {
    grid-area: "product3";
    margin-bottom: 2rem;
  }
  .product3 img {
    max-width: 100%;
  }
  .product3 h2 {
    margin-top: 0.2rem;
    color: #d9b0a7;
    font-size: 20px;
  }
  .product3 h3 {
    color: rgb(75, 75, 75);
    font-size: 14px;
    font-weight: 100;
    text-align: left;
  }
  
  .product4 {
    grid-area: "product4";
    margin-bottom: 2rem;
  }
  .product4 img {
    max-width: 100%;
  }
  .product4 h2 {
    margin-top: 0.2rem;
    color: #d9b0a7;
    font-size: 20px;
  }
  .product4 h3 {
    color: rgb(75, 75, 75);
    font-size: 14px;
    font-weight: 100;
    text-align: left;
  }
  
  .product5 {
    grid-area: "product5";
    margin-bottom: 2rem;
  }
  .product5 img {
    max-width: 100%;
  }
  .product5 h2 {
    margin-top: 0.2rem;
    color: #d9b0a7;
    font-size: 20px;
  }
  .product5 h3 {
    color: rgb(75, 75, 75);
    font-size: 14px;
    font-weight: 100;
    text-align: left;
  }
  
  .product6 {
    grid-area: "product6";
    margin-bottom: 2rem;
  }
  .product6 img {
    max-width: 100%;
  }
  .product6 h2 {
    margin-top: 0.2rem;
    color: #d9b0a7;
    font-size: 20px;
  }
  .product6 h3 {
    color: rgb(75, 75, 75);
    font-size: 14px;
    font-weight: 100;
    text-align: left;
  }
  
  .product7 {
    grid-area: "product7";
    margin-bottom: 2rem;
  }
  .product7 img {
    max-width: 100%;
  }
  .product7 h2 {
    margin-top: 0.2rem;
    color: #d9b0a7;
    font-size: 20px;
  }
  .product7 h3 {
    color: rgb(75, 75, 75);
    font-size: 14px;
    font-weight: 100;
    text-align: left;
  }
  
  .product8 {
    grid-area: "product8";
    margin-bottom: 2rem;
  }
  .product8 img {
    max-width: 100%;
  }
  .product8 h2 {
    margin-top: 0.2rem;
    color: #d9b0a7;
    font-size: 20px;
  }
  .product8 h3 {
    color: rgb(75, 75, 75);
    font-size: 14px;
    font-weight: 100;
    text-align: left;
  }
  
  .product9 {
    grid-area: "product9";
    margin-bottom: 2rem;
  }
  .product9 img {
    max-width: 100%;
  }
  .product9 h2 {
    margin-top: 0.2rem;
    color: #d9b0a7;
    font-size: 20px;
  }
  .product9 h3 {
    color: rgb(75, 75, 75);
    font-size: 14px;
    font-weight: 100;
    text-align: left;
  }
  
  .product10 {
    grid-area: "product10";
    margin-bottom: 2rem;
  }
  .product10 img {
    max-width: 100%;
  }
  .product10 h2 {
    margin-top: 0.2rem;
    color: #d9b0a7;
    font-size: 20px;
  }
  .product10 h3 {
    color: rgb(75, 75, 75);
    font-size: 14px;
    font-weight: 100;
    text-align: left;
  }
  
  .product11 {
    grid-area: "product11";
    margin-bottom: 2rem;
  }
  .product11 img {
    max-width: 100%;
  }
  .product11 h2 {
    margin-top: 0.2rem;
    color: #d9b0a7;
    font-size: 20px;
  }
  .product11 h3 {
    color: rgb(75, 75, 75);
    font-size: 14px;
    font-weight: 100;
    text-align: left;
  }

  
}


/* Gør instagram billederne responsive og "stacker" dem under hinanden*/
  @media screen and (max-width: 860px) {
    .columnfooter {
    width: 100%;
    }

    .rowfooter {
      display: flex;
     flex-direction: column;
    }
  }




