* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7efeb;
}
.maxmara-brand {
  margin: 1rem;
}
.maxmara-brand img {
  max-width: 100%;
}
/*Her starter styling til mobile*/
/* Grid containter https://css-tricks.com/snippets/css/complete-guide-grid/
Blevet inspireret af deres guide til columns, rows og areas*/
/*Her opsættes grid layout til mobile*/
.maxmara-container {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  grid-template-areas:
    "product-a product-b"
    "product-c product-d"
    "product-e product-f"
    "product-g product-h"
    "product-i product-j";
}
/* Her styles hvert produkt til mobile*/
.product-a {
  grid-area: product-a;
}
/* Produkterne skrives igen, men med img efter, så billedet kan styles*/
.product-a img {
  max-width: 100%;
}
.product-b {
  grid-area: product-b;
}
.product-b img {
  max-width: 100%;
}
.product-c {
  grid-area: product-c;
}
.product-c img {
  max-width: 100%;
}
.product-d {
  grid-area: product-d;
}
.product-d img {
  max-width: 100%;
}
.product-e {
  grid-area: product-e;
}
.product-e img {
  max-width: 100%;
}
.product-f {
  grid-area: product-f;
}
.product-f img {
  max-width: 100%;
}
.product-g {
  grid-area: product-g;
}
.product-g img {
  max-width: 100%;
}
.product-h {
  grid-area: product-h;
}
.product-h img {
  max-width: 100%;
}
.product-i {
  grid-area: product-i;
}
.product-i img {
  max-width: 100%;
}
.product-j {
  grid-area: product-j;
}
.product-j img {
  max-width: 100%;
}
/* Her styles der til desktop */
@media screen and (min-width: 667px) {
  .maxmara-brand {
    margin: 1rem;
  }
  .maxmara-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "product-a product-b product-c product-d product-e"
      "product-f product-g product-h product-i product-j";
  }
  /*Her styles hvert produkt til desktop*/
  .product-a {
    grid-area: product-a;
  }
  .product-b {
    grid-area: product-b;
  }
  .product-c {
    grid-area: product-c;
  }
  .product-d {
    grid-area: product-d;
  }
  .product-e {
    grid-area: product-e;
  }
  .product-f {
    grid-area: product-f;
  }
  .product-g {
    grid-area: product-g;
  }
  .product-h {
    grid-area: product-h;
  }
  .product-i {
    grid-area: product-i;
  }
  .product-j {
    grid-area: product-j;
  }
}
